* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #fffbf7;
  --creme: #ffe4bc;
  --orange: #d8862b;
  --brightRed: #c54f31;
  --red: #ac2e22;
  --darkRed: #6a2119;
  --brown: #3e2f1f;
  --lightBlack: #25282d;
  --lightBlack50: rgba(37, 40, 45, 0.5);
  --lightBlack75: rgba(37, 40, 45, 0.75);
}
a,
button {
  cursor: pointer;
}
@font-face {
  font-family: manrope;
  src: url("../fonts/Manrope-VariableFont_wght.woff2");
}
@font-face {
  font-family: fascinate;
  src: url("../fonts/Fascinate-Regular.woff2");
}
@font-face {
  font-family: shadows;
  src: url(../fonts/ShadowsIntoLight-Regular.woff2);
}

h1 {
  font-family: fascinate;
  font-size: 96px;
  color: var(--white);
}
h2 {
  font-family: manrope;
  font-size: 64px;
}
.h2_fas {
  font-family: fascinate;
  font-size: 64px;
  color: var(--lightBlack);
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 36px;
  font-family: manrope;
  font-weight: 500;
  color: var(--white);
}
.h4_fas {
  font-family: fascinate;
  color: var(--white);
}
.h4_light {
  font-family: shadows;
  font-size: 40px;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 1px;
}
h5 {
  font-family: fascinate;
  font-size: 32px;
  color: var(--white);
}
p {
  font-size: 20px;
  color: var(--lightBlack);
  font-family: manrope;
  font-weight: 400;
}
body {
  overflow-x: hidden;
  width: 100vw;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  background-color: var(--lightBlack50);
  color: var(--white);
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
  font-family: manrope;
  font-size: 16px;
  padding: 5px 15px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Navigation */
nav,
.burger-menu {
  display: none;
}
.logo {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 5;
  bottom: 5;
  transform: translateX(-50%);
}
.menu-background {
  height: 90px;
  background-color: var(--lightBlack75);
}
header {
  background-color: var(--lightBlack50);
  backdrop-filter: blur(6px);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s;
}
header p {
  font-size: 16;
  font-family: fascinate;
  color: var(--white);
}
a,
header button {
  font-size: 16px;
  font-family: manrope;
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}
.header_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 14px;
  height: 100%;
}
.links {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
header button {
  background-color: transparent;
  border: 1.5px solid var(--white);
  border-radius: 5px;
  padding: 1px 15px;
}

/* Footer */

footer {
  background-color: var(--lightBlack);
  height: 312px;
  position: relative;
  display: block;
}
footer p {
  color: var(--white);
  font-family: manrope;
  font-size: 16px;
  margin: 0;
}
.footer_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  z-index: 1;
}
.SoMe {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.footerlogo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 80px;
}
.piano {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 100%;
  z-index: 0;
}
.mobile_piano {
  display: none;
}

/* Tickets overlay */
.hidden {
  display: none !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  pointer-events: auto;
  opacity: 0;
  transition: all 1s;
}
.overlay_box {
  position: absolute;
  top: 300px;
  bottom: 0;
  width: 100%;
  background-color: #ffe4bc;
  overflow-y: auto;
}
.overlay_box h2 {
  font-family: fascinate;
  color: var(--orange);
  text-shadow: 0px 2px 2px var(--brightRed);
  text-align: center;
  margin-top: 20px;
}
.tickets_box {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border: 100px solid var(--orange);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 60px;
}
.creme {
  background-color: var(--creme);
}
.enter {
  display: flex;
  flex-direction: column;
}
.close_btn {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
input[type="number"] {
  border: none;
  border-bottom: 2px solid var(--white);
  background-color: transparent;
  color: var(--orange);
  font-size: 16px;
  padding: 5px 0;
  outline: none;
  width: 200px; /* Adjust width as needed */
}
.payment p {
  padding-bottom: 30px;
}

.close_btn .line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--lightBlack);
  border-radius: 1px;
}
.close_btn .line1 {
  transform: rotate(45deg);
}
.close_btn .line2 {
  transform: rotate(-45deg);
}
/* no rotate? */

/* Mobile display */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  button {
    height: 60px;
  }

  /* Header mobile */
  header {
    height: 70px;
    padding: 0 15px;
  }
  .menu-background {
    height: 70px;
  }

  .header_flex {
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .mobile_hidden {
    display: none;
  }

  .logo img {
    width: 50px;
  }

  .links {
    display: none;
  }

  /* Burger Menu */
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger-menu span {
    display: block;
    height: 3px;
    background-color: var(--white);
    border-radius: 5px;
  }

  /* Mobile Menu */
  .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: var(--lightBlack75);
    text-align: center;
    padding: 50px;
    gap: 30px;
    padding-bottom: 90px;
    z-index: 1000;
  }

  .mobile-menu a,
  .mobile-menu button {
    font-size: 16px;
    font-family: manrope;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
  }

  .mobile-menu button {
    border: 1.5px solid var(--white);
    border-radius: 5px;
    background-color: transparent;
  }

  .mobile-menu.open {
    display: flex;
  }

  /* Footer Mobile */
  .footer {
    position: relative;
    height: 400px;
  }
  .footer_flex {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin-top: 39px;
    margin-left: 25px;
  }
  .footer_mobile {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }
  .SoMe {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 190px;
    gap: 20px;
    align-items: center;
  }
  .footerlogo {
    display: none;
  }
  footer p {
    font-size: 12px;
  }
  .p_big {
    margin-bottom: 12px;
  }
  .piano {
    display: none;
  }
  .mobile_piano {
    display: block;
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 65px;
    right: 0;
    width: 100%;
  }

  /* Tickets Overlay */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1000;
    pointer-events: auto;
    opacity: 0;
    transition: all 1s;
  }
  .overlay_box {
    position: absolute;
    top: 300px;
    bottom: 0;
    width: 100%;
    background-color: #ffe4bc;
    overflow-y: auto;
  }
  .overlay_box h2 {
    font-family: fascinate;
    color: var(--orange);
    text-shadow: 0px 2px 2px var(--brightRed);
    text-align: center;
    margin-top: 20px;
  }
  .tickets_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 38px;
    border: none;
    margin-left: 50px;
    margin-top: 60px;
  }
  .creme {
    background-color: var(--creme);
  }
  .enter {
    display: flex;
    flex-direction: column;
  }
  .close_btn {
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  input[type="number"] {
    border: none;
    border-bottom: 2px solid var(--white);
    background-color: transparent;
    color: var(--orange);
    font-size: 16px;
    padding: 5px 0;
    outline: none;
    width: 200px; /* Adjust width as needed */
  }
  .payment p {
    padding-bottom: 30px;
  }
}
