* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #fffbf7;
  --creme: #e2b676;
  --orange: #d8862b;
  --brightRed: #c54f31;
  --red: #ac2e22;
  --darkRed: #6a2119;
  --brown: #3e2f1f;
  --lightBlack: #25282d;
  --lightBlack50: rgba(37, 40, 45, 0.5);
  --lightBlack75: rgba(37, 40, 45, 0.75);
}
a,
button {
  cursor: pointer;
}
@font-face {
  font-family: manrope;
  src: url("../fonts/Manrope-VariableFont_wght.woff2");
}
@font-face {
  font-family: fascinate;
  src: url("../fonts/Fascinate-Regular.woff2");
}
h1 {
  font-family: fascinate;
  font-size: 96px;
}
h2 {
  font-family: manrope;
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
body {
  overflow-x: hidden;
  width: 100vw;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Navigation */
.logo {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 5;
  bottom: 5;
  transform: translateX(-50%);
}

header {
  background-color: var(--lightBlack50);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header p {
  font-size: 16;
  font-family: fascinate;
  color: var(--white);
}
a,
header button {
  font-size: 16px;
  font-family: manrope;
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}
.header_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 14px;
  height: 100%;
}
.links {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
header button {
  background-color: transparent;
  border: 1.5px solid var(--white);
  border-radius: 5px;
  padding: 1px 15px;
}
/* Information section */
.trumpet_img {
  width: 730px;
  height: auto;
}
