* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #fffbf7;
  --creme: #e2b676;
  --orange: #d8862b;
  --brightRed: #c54f31;
  --red: #ac2e22;
  --darkRed: #6a2119;
  --brown: #3e2f1f;
  --lightBlack: #25282d;
  --lightBlack50: rgba(37, 40, 45, 0.5);
  --lightBlack75: rgba(37, 40, 45, 0.75);
}
a,
button {
  cursor: pointer;
}
@font-face {
  font-family: manrope;
  src: url("../fonts/Manrope-VariableFont_wght.woff2");
}
@font-face {
  font-family: fascinate;
  src: url("../fonts/Fascinate-Regular.woff2");
}
@font-face {
  font-family: shadows;
  src: url(../fonts/ShadowsIntoLight-Regular\\.woff2);
}
body {
  background-color: var(--orange);
}
/* Program header */
.program_header h2 {
  font-family: fascinate;
  color: var(--white);
}
.program_header h5 {
  font-size: 24px;
}
.program_header {
  position: relative;
  background-color: var(--darkRed);
  height: 540px;
}
.program p {
  font-family: shadows;
  font-weight: 800;
  font-size: 28px;
  color: var(--darkRed);
  text-shadow: 0px 2px 5px var(--white);
}

.program_header img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 90px;
  left: 50%;
  height: 450px;
  opacity: 0.8;
}
.program_text {
  margin-top: 200px;
  margin-left: 130px;
  padding-bottom: 95px;
}
/* program dates */
.scene_artist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.scene_artist h4 {
  font-family: shadows;
}
.date_bar h3 {
  font-family: fascinate;
  color: var(--white);
  padding-left: 130px;
  margin: auto;
}
.date_bar {
  background-color: var(--red);
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.names_program {
  margin-bottom: 80px;
}
.names_program h4 {
  font-weight: 600;
  color: var(--darkRed);
}
.names_program hr {
  width: auto;
  max-width: 100%;
  margin: 0 130px;
  border: none;
  border-top: 1px solid var(--white);
  border-style: dashed;
  border-image: repeating-linear-gradient(to right, var(--white) 0, var(--white) 10px, transparent 10px, transparent 20px) 1;
}
.date_name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  padding-bottom: 10px;
  padding-top: 40px;
}
.artist_font {
  font-family: fascinate;
  font-size: 48px;
  color: var(--white) !important;
  text-shadow: 0px 2px 5px var(--brightRed);
}
.time_stage {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .program_header h2 {
    font-family: fascinate;
    color: var(--white);
    font-size: 48px;
  }
  .program_header h5 {
    font-size: 32px;
  }

  .program_header {
    position: relative;
    background-image: url(../img/program_header.png);
    z-index: -2;
    height: 400px;
  }
  .grid_1-1 {
    display: flex;
    position: relative;
  }
  .program p {
    font-family: shadows;
    font-weight: 800;
    font-size: 28px;
    color: var(--darkRed);
    text-shadow: 0px 2px 5px var(--white);
  }
  .program_header img {
    display: none;
  }
  .program_text {
    margin-top: 150px;
    margin-left: 0;
    padding-left: 38px;
    padding-bottom: 95px;
  }

  /* Program section */

  .date_bar h3 {
    font-family: fascinate;
    color: var(--white);
    padding-left: 38px;
    margin: auto;
  }
  .date_bar {
    margin-bottom: 22px;
  }

  .names_program h4 {
    font-weight: 600;
    color: var(--darkRed);
    font-size: 18px;
  }
  .names_program p {
    font-size: 18px;
  }
  .names_program hr {
    width: auto;
    max-width: 100%;
    margin: 0 60px;
    border: none;
    border-top: 1px solid var(--white);
    border-style: dashed;
    border-image: repeating-linear-gradient(to right, var(--white) 0, var(--white) 10px, transparent 10px, transparent 20px) 1;
  }
  .date_name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    padding-top: 40px;
  }
  .artist_font {
    font-family: fascinate;
    font-size: 26px !important;
    color: var(--white) !important;
    text-shadow: 0px 2px 5px var(--brightRed);
  }
  .time_stage {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
